*{
    padding: 0;
    margin: 0;
}
img{
display: block;
margin: 0 auto;
height: 500px;
width: 500px;
border-radius: 5px;
}
h1,h3{
    text-align: center;
    text-decoration:underline;
    color:azure;
}
div{
    background-color:transparent;
    border-radius: 5px;
    color: azure;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    
}
h2{
    text-decoration: underline;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}
body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
footer{
    margin: 500px;
    color: azure;
}
.footer hr{
    margin-top: 20px;
    margin-top: 20px;
    border: none;
    border-top: 1px solid white;
}
